logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
TO_REWRITE/*
build/
.eslintrc.js
temp/
!TO_REWRITE/core/placeholder.txt
TO_REWRITE/core/*
!ytdl-temp/placeholder.txt
ytdl-temp/*
.idea
pids
*.pid
*.seed
*.pid.lock
.vscode/
.lock-wscript
node_modules/
jspm_packages/
typings/
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.env
.next
