{
  "freq": 108.0,
  "format": "opus",
  "multiplier": 0.1,
  "PS": "FmRadStr",
  "RT": "RPi based radio streamer. It is working!",
  "PI": "FFFF",
  "TP": "",
  "PTY": 0,
  "ytApiKey": "",
  "port": 80,
  "power": 5,
  "mpx": 30,
  "preemph": "eu",
  "antennaGPIO": 4,
  "ssd1306": true,
  "dynamicRT": true,
  "dynamicRTInterval": 20
}